In [9]:
pip install nasdaq-data-link

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nasdaq-data-link in /usr/local/lib/python3.8/dist-packages (1.0.4)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.8/dist-packages (from nasdaq-data-link) (2.23.0)
Requirement already satisfied: inflection>=0.3.1 in /usr/local/lib/python3.8/dist-packages (from nasdaq-data-link) (0.5.1)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.8/dist-packages (from nasdaq-data-link) (9.0.0)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.8/dist-packages (from nasdaq-data-link) (1.3.5)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from nasdaq-data-link) (1.15.0)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.8/dist-packages (from nasdaq-data-link) (1.21.6)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from nasdaq-data-link) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.14->nasdaq-data-link) (2022.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.7.0->nasdaq-data-link) (2022.9.24)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.7.0->nasdaq-data-link) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.7.0->nasdaq-data-link) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.7.0->nasdaq-data-link) (2.10)

In [10]:
pip install quandl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting quandl
  Downloading Quandl-3.7.0-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.8/dist-packages (from quandl) (1.21.6)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.8/dist-packages (from quandl) (2.23.0)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.8/dist-packages (from quandl) (1.3.5)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.8/dist-packages (from quandl) (9.0.0)
Requirement already satisfied: inflection>=0.3.1 in /usr/local/lib/python3.8/dist-packages (from quandl) (0.5.1)
Requirement already satisfied: six in /usr/local/lib/python3.8/dist-packages (from quandl) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from quandl) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.14->quandl) (2022.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.7.0->quandl) (2022.9.24)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Installing collected packages: quandl
Successfully installed quandl-3.7.0

**Dividend Yield**

In [17]:
import nasdaqdatalink
import quandl
quandl.ApiConfig.api_key = 'Nodj2PHme6R9SABzKR-b'
# between 2% and 5% is good.
quandl.get('MULTPL/SP500_DIV_YIELD_MONTH', start_date='2012-10-31', end_date='2022-11-30')

            Value
Date
2012-10-31   2.10
2012-11-30   2.20
2012-12-31   2.20
2013-01-31   2.13
2013-02-28   2.10
...           ...
2022-09-01   1.61
2022-09-30   1.70
2022-10-31   1.75
2022-11-01   1.69
2022-11-30   1.69

[148 rows x 1 columns]

**PE Ratio**

In [18]:
# 市盈率把企业的股价与其制造财富的能力联系起来 P/E ratio
quandl.get('MULTPL/SP500_PE_RATIO_MONTH', start_date='2012-10-31', end_date='2022-11-30')

            Value
Date
2012-11-01  16.12
2012-12-01  16.44
2013-01-01  17.03
2013-02-01  17.32
2013-03-01  17.68
...           ...
2022-09-30  18.12
2022-10-01  19.38
2022-10-31  20.14
2022-11-01  20.06
2022-11-30  21.22

[149 rows x 1 columns]

**Treasury Real Long-Term Rates**

In [19]:
# Treasury Real Long-Term Rates
# Represent the overall US economy
quandl.get('USTREASURY/REALLONGTERM', start_date='2012-10-31', end_date='2022-12-01')

            LT Real Average (>10Yrs)
Date
2012-10-31                     -0.11
2012-11-01                     -0.09
2012-11-02                     -0.06
2012-11-05                     -0.07
2012-11-06                     -0.04
...                              ...
2022-11-25                      1.60
2022-11-28                      1.64
2022-11-29                      1.72
2022-11-30                      1.63
2022-12-01                      1.46

[2522 rows x 1 columns]

**SP 500 Index**

In [22]:
import pandas as pd

df = pd.read_csv('sp500_index.csv')

df.head(10)

         Date   S&P500
0  2012-10-31  1412.16
1  2012-11-01  1427.59
2  2012-11-02  1414.20
3  2012-11-05  1417.26
4  2012-11-06  1428.39
5  2012-11-07  1394.53
6  2012-11-08  1377.51
7  2012-11-09  1379.85
8  2012-11-12  1380.03
9  2012-11-13  1374.53

**SP 500 Company**
> Todo: Based on different industry, choosing the representative stocks.

In [31]:
df = pd.read_csv('sp500_stocks.csv')
names = ['TSLA','AAPL','GOOG']
df_filter = df[df.Symbol.isin(names)]
df_filter.head(10)

,Date,Symbol,Adj Close,Close,High,Low,Open,Volume
88028,2010-01-04,GOOG,15.610239,15.610239,15.678981,15.547723,15.615220,78541293.0
88029,2010-01-05,GOOG,15.541497,15.541497,15.637387,15.480475,15.620949,120638494.0
88030,2010-01-06,GOOG,15.149715,15.149715,15.588072,15.102393,15.588072,159744526.0
88031,2010-01-07,GOOG,14.797037,14.797037,15.193053,14.760922,15.178109,257533695.0
88032,2010-01-08,GOOG,14.994298,14.994298,15.024933,14.672753,14.744733,189680313.0
88033,2010-01-11,GOOG,14.971633,14.971633,15.055070,14.795543,15.055070,289597429.0
88034,2010-01-12,GOOG,14.706875,14.706875,14.898158,14.645107,14.885456,194859654.0
88035,2010-01-13,GOOG,14.622441,14.622441,14.654571,14.293923,14.358431,260838034.0
88036,2010-01-14,GOOG,14.691184,14.691184,14.799528,14.515841,14.542989,170239717.0
88037,2010-01-15,GOOG,14.445853,14.445853,14.783587,14.397036,14.778108,218194794.0